@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Stacey's Closet</h1>
    <p class="lead">Take a dive into what I would wear on any ordinary day or a day that I want to spruce up my style a little!</p>

</div>

<div class="row">
    <div class="col-md-3">
        <h2>Tops</h2>
        <p>My unique twist on shirts, from long sleeved, sweatshirts, and t-shirts.</p>
    </div>
    <div class="col-md-3">
        <h2>Bottoms</h2>
        <p>Only all the comfy bottoms a perosn could desire.</p>
    </div>
    <div class="col-md-3">
        <h2>Shoes</h2>
        <p>You won't be able to find any of those fancy heals in here!.</p>
    </div>
    <div class="col-md-3">
        <h2>Accessories</h2>
        <p>Nothing too flashy but something in here will stand out!.</p>
    </div>
</div>